div {
  &.card {
    max-height: 550px;
    min-height: 450px;
    max-width: 300px;
  }
  & h5 {
   overflow: hidden;
  }
}
i {
  cursor: pointer;
}
img{
  width: 290px;
  height: 300px;
  margin: 0 auto;
}
